<div id="registro">

    <div id="formulario">

        <form >

            <div class="mb-3">
        
                <label for="basic-url" class="form-label">Cedula</label>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                <label for="basic-url" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                <label for="basic-url" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                <label for="basic-url" class="form-label">Correo</label>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                <label for="basic-url" class="form-label">Telefono</label>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                <label for="basic-url" class="form-label">Licencia</label>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                <label for="basic-url" class="form-label">Categoria</label>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                <label for="basic-url" class="form-label">Ingresar Contraseña</label>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                
            </div>
        </form>

        <button id="btnRegistro">Registrarme</button>

    </div>

   

    <button type="button" id="volver" (click)="recargar()"> volver</button>
</div>