<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Administrador</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#"></a>
        <a class="nav-link" href="#">Vehículos(disponibles)</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tipo de vehículo
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">automóvil</a></li>
            <li><a class="dropdown-item" href="#">Camioneta</a></li>
            <li><a class="dropdown-item" href="#">Campero</a></li>
            <li><a class="dropdown-item" href="#">Microbus</a></li>
            <li><a class="dropdown-item" href="#">Motocicleta</a></li>        
          </ul>
        </li>
        <a class="nav-link" href="#">Vehículos (alquilados)</a>
        <a class="nav-link" href="#">Gestión de vehículos</a>
      </div>
    </div>
  </div>
</nav>

<div class="text-start mb-3">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#buscarAlquilerModal">
    Buscar Alquiler
  </button>
</div>

<!-- Modal de Búsqueda de Alquiler -->
<div class="modal fade" id="buscarAlquilerModal" tabindex="-1" aria-labelledby="buscarAlquilerLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="buscarAlquilerLabel">Buscar Alquiler</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
    

<h2>Vehículos Alquilados No Entregados</h2>

<table class="table">
  <thead>
    <tr>
      <th>Número de Alquiler</th>
      <th>Placa</th>
      <th>Estado</th>
      <th>Fecha de Inicio</th>
      <th>Fecha de Fin</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let alquiler of alquileres">
      <td>{{ alquiler.numeroAlquiler }}</td>
      <td>{{ alquiler.coches.placa }}</td>
      <td>{{ alquiler.estadoAlq }}</td>
      <td>{{ alquiler.fechaInicio }}</td>
      <td>{{ alquiler.fechaFinal }}</td>
    </tr>
  </tbody>
</table>








