<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
</nav>
<div id="registro">

   

    <div id="formulario">

        <form >

            <div class="mb-3">
        
                <label for="" class="form-label">Cedula</label>
                <input type="text" class="form-control"  aria-describedby="basic-addon3 basic-addon4" [(ngModel)]="cedula" name="cedula">

                <label for="" class="form-label">Nombre</label>
                <input type="text" class="form-control"  aria-describedby="basic-addon3 basic-addon4" [(ngModel)]="nombre" name="nombre">

                <label for="" class="form-label">Apellidos</label>
                <input type="text" class="form-control"  aria-describedby="basic-addon3 basic-addon4" [(ngModel)]="apellidos" name="apellidos">

                <label for="" class="form-label">Correo</label>
                <input type="text" class="form-control"  aria-describedby="basic-addon3 basic-addon4" [(ngModel)]="correo" name="correo">

                <label for="" class="form-label">Telefono</label>
                <input type="text" class="form-control"  aria-describedby="basic-addon3 basic-addon4" [(ngModel)]="telefono" name="telefono">

                <label for="" class="form-label">fecha de expedicion Licencia</label>
                <input type="date" class="form-control"  aria-describedby="basic-addon3 basic-addon4" (change)="formatearfecha()" [(ngModel)]="licencia" name="licencia">

                <label for="" class="form-label">vigencia de Licencia</label>
                <input type="date" class="form-control"  aria-describedby="basic-addon3 basic-addon4" (change)="formatearfecha()" [(ngModel)]="vigencia" name="vigencia">

                <label for="" class="form-label">Categoria</label>
                <input type="text" class="form-control"  aria-describedby="basic-addon3 basic-addon4"  [(ngModel)]="categoria" name="categoria">

                <label for="" class="form-label">Ingresar Contraseña</label>
                <input type="password" class="form-control"  aria-describedby="basic-addon3 basic-addon4" [(ngModel)]="clave" name="clave">
                
            </div>
        </form>

        <button id="btnRegistro" (click)="registrar()">Registrarme</button>

    </div>

    <button type="button" id="volver" (click)="volver()" > volver</button>
</div>